
<div class="nav" style="height:2400px;">
    <button class ="btn1" onclick="location.href='AdminDashboard.html';">Home</button>
    <button class ="btn1" onclick="drop()"> + Add </button>
    <div id="dropdown">
        <ul class="dropdown-list">
            <li><a href="/AddHotel">Hotels</a></li>
            <li><a href="/AddActivity">Activites</a> </li>
            <li><a href="/addcities">Cities</a> </li>
        </ul>
    </div>
    <button class ="btn1" onclick="drop2()"> + Edit</button>
    <div id="dropdown2">
        <ul class="dropdown-list">
            <li><a href="/editactivities">Hotels</a></li>
            <li><a href="/edithotels">Activites</a> </li>
        </ul>
    </div>
    <button class="btn1"  onclick="location.href='/users';">Users</button>
    <button class ="btn1">Weekly Summary</button>
</div>
<script src="../js/AdminDashboardJS.js"></script>