<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="../public/css/styleHF.css">
    
</head>
<footer>
    <div class="info">
        <div class="col">
            <div class="titles">
                <h3 >ABOUT</h3> 
            </div>
                                
            <ul class="lia">
                <li><a class="lia" href="aboutus.html">ABOUT US</a></li>
                <li><a class="lia" href="ourteam1.html">OUR TEAM</a></li>  
                <li><a class="lia" href="Terms&Conditions.html">TERMS & CONDITIONS</a></li>
                <li><a class="lia" href="">PRIVACY & COOKIES</a></li>  

            </ul> 
        </div>
        <div class="col">
            <div class="titles">
                <h3 >CONTACT US</h3> 
            </div>                  
                <ul class="lia">
                    <li>(+20)1095679442</li>
                    <li>(+20)1096831229</li>
                    <li>egytours@gmail.com</li>   
                </ul> 
        </div>  
        <div class="col">
            <div class="titles"  style="margin-right: 0;">
                <h3 >TRAVEL TIPS</h3> 
            </div>                    
            <ul>
                <li><a class="lia"  href="">START HERE</a></li>
                <li><a class="lia"  href="">BLOGS</a></li>  
                <li><a class="lia"  href="">DESTINATIONS</a></li>  

            </ul> 
        </div>
    </div>
    <div class="bottom">
        <div class="botleft">
            <input id="tmail" type="email" placeholder="Enter your email" >
            <button id="subscribe" type ="submit" >Subscribe Now!</button>
        </div>
  
        <div class="botright">
            <div class="ficons">
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="copyright" style="color:white">
                <div style="margin-top: 4%; margin-right:2%;">
                    <i class="fa-regular fa-copyright" ></i>
                </div>
                <div>
                    <h6 >2023 EgyTours All Rights Reserved</h6>
                </div>
            </div>
        </div>
        
  </div>
  
</footer>