<script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

<header class="myHeader" id="myHeader">
    <div class="logoHead">
        <!-- <img id="logo" src="/images/homepage/egytours.png" alt="logo"> -->
    </div>
    <div class="buttons">
        <button button onclick="location.href='/hotels';">Hotels</button>
        <button onclick="location.href='/activities';"> Activities</button>
    </div>
    
    <div class="topnav"> 
        
        <div class="headicons">
            <a href="/aboutus"> <i class="fa-sharp fa-solid fa-circle-info"></i> </a>
            <%if(user!==undefined){%>
                <%if(user.Type==='admin'){%>
                    <a href="/adminboard" class="links"> <i class="fa-solid fa-hammer"></i></i></a>
                <%}else{%>
                    <a href="/chat1" class="links"> <i class="fa-solid fa-comment"></i></i></a>
                    <a href="/cart" class="links"> <i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="/wishlist" class="links"> <i class="fa-solid fa-heart"></i></a>
                <%}%>  
            <%}else{%>
                <a href="/cart" class="links"> <i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/wishlist" class="links"> <i class="fa-solid fa-heart"></i></a>
            <%}%>
            
            <a href="/"> <i class="fa-solid fa-house fa-fw"></i> </a>
            <!-- <input id="searchbar" type="text" placeholder="Search" > -->
        </div>
        <script src="/js/popupJS.js" type="text/javascript"></script>
    </div>

    <div style="flex:9%" class="sign">
        <% if(user==="" ){ %>
            <span><button onclick="show('signin')">Sign In</button></span>
            <%} else{%>
                <div>
                    <button onmouseenter="showdrop()" class="dropbtn">
                        <%=user.Username%>
                    </button>
                    <div id="drop" onmouseleave="hidedrop()" style="display: none;">
                        <a id='dropItem' href='/profile'><span><i class="fa-solid fa-user"></i></span> View Profile</a>
                        <a id='dropItem' href='/signout'><span><i class="fa-solid fa-right-from-bracket"></i></span> Logout</a>
                    </div>
                </div>
            <% } %>
    </div>
</header>

<div class="signin" id="signin">
    <form class="sform" method="post" action="/login">
        <div class="divclose">
            <button type="button" class="close" onclick="hide('signin')"><i class="fa fa-close"></i></button>
        </div>
        <div class="imgcontainer">
            <img src="/images/homepage/avatar.png" alt="Avatar" class="avatar" width="100px"
                style="margin-left:37% ;margin-top:5%">
        </div>
        <div class="container">
            <div class="input-group">
                <label for="username">Username</label>
                <input id="username" type="text" placeholder="Enter Username" name="username">
                <span class="error-message" id="un"></span>
            </div>

            <div class="input-group">
                <label for="password1">Password</label>
                <input id="password1" type="password" placeholder="Enter Password" name="password">
                <span class="error-message" id="pass"></span>
            </div>
            <button class="subutton" style="margin-top: 13px;"  id="loginbut"><input type="submit"  style="display: none; ">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <p class="message">Not Registered?</p>
            <button class="subutton" onclick="show('signup')" onclick="hide('signin')" type="button">Sign up</button>
        </div>

    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/ajax-LOGIN.js"></script>
<script src="/js/ajax-SIGNUP.js"></script>

<script src="/js/popupJS.js" type="text/javascript"></script>
<div class="signup" id="signup">
    <form class="form" method="post" action="/">
        <div class="divclose2">
            <button type="button" class="close" onclick="hide2('signup','signin')"><i class="fa fa-close"></i></button>
        </div>
        <div class="signuptitle">
            <h2>Sign Up To <br> EgyTours!</h2>
        </div>
        <div class="container">
            <div class="input-group">
                <label for="uname">Username</label>
                <input id="uname" type="text" placeholder="Enter Username" name="unam">
                <span class="error-message" id="unam"></span>
                <span class="error-message" id="result"></span>
            </div>
            <script src="/js/ajax-UN.js"></script>

            <div class="input-group">
                <label for="femail">Email</label>
                <input id="femail" type="email" placeholder="Enter Email" name="email">
                <span class="error-message" id="em"></span>
            </div>

            <div class="input-group">
                <label for="number">Phone Number</label>
                <input id="number" type="text" placeholder="Enter Phone Number" name="number">
                <span class="error-message" id="nu"></span>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Enter Password" name="psw">
                <span class="error-message" id="pa"></span>
            </div>

            <div class="input-group">
                <label for="password-confirmation">Password Confirmation</label>
                <input id="password-confirmation" type="password" placeholder="Repeat Password" name="confpsw">
                <span class="error-message" id="pc"></span>
            </div>

            <input type="hidden" id="type" name="type" value="client">
            <span id="error"></span>

            <button type="submit" class="subutton" id="sub">Sign Up</button>
        </div>
    </form>
    <!-- <script src="/js/formsVal.js" type="text/javascript"></script> -->
    <script src="/js/popupJS.js" type="text/javascript"></script>
</div>