<header class="myHeader" id="myHeader">
    <div class="logoHead">
        <img id="logo" src="../images/homepage/logo.png" alt="logo">
    </div>
    <div class="buttons">
        <button button onclick="location.href='/hotels';">Hotels</button>
        <button onclick="location.href='/activities';"> Activities</button>
        <button onclick="location.href='/food';"> Food</button>
    </div>
    <div class="topnav">
        <div>
            <% if(user===""){ %>
                <button onclick="show('signin')">Sign In</button>  
            <%} else{%>
                <div calss="dropdown" onmouseleave="hideDropdown()" onmouseenter="displayDropdown()">
                    <button class="dropbtn"  >
                        logged in as <%=user.Username%></button>
                    <div id="dropdown-content" >
                        <div class="de">
                        <a href="/profile">My Profile</a>
                        </div>
                        <div class="de">
                        <a href="#" onclick="handleLogout()" >logout</a>
                       </div>      
                    </div>
                </div>   
            <% } %>
        </div>
        <div class="headicons">
            <a href="/aboutus"> <i class="fa-sharp fa-solid fa-circle-info"></i> </a>
            <a href="/hotels"> <i class="fa-regular fa-heart"></i> </a>
            <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/"> <i class="fa-solid fa-house fa-fw"></i> </a>
            <input id="searchbar" type="text" placeholder="Search" >
        </div>
        <script src="/js/formsVal.js" type="text/javascript"></script>
        <script src="/js/popupJS.js" type="text/javascript"></script>
    </div>
</header>