<header class="myHeader" id="myHeader">
    <div class="logoHead">
        <img id="logo" src="../images/homepage/logo.png" alt="logo">
    </div>
    <div class="buttons">
        <button button onclick="location.href='hotels.html';">Hotels</button>
        <button onclick="location.href='activities.html';"> Activities</button>
        <button onclick="location.href='food.html';"> Food</button>
    </div>
    <div class="topnav">
        <div>
            <button onclick="show('signin')">Sign In</button>
        </div>
        <div class="headicons">
            <a href="about.html"> <i class="fa-sharp fa-solid fa-circle-info"></i> </a>
            <a href="trips.html"> <i class="fa-regular fa-heart"></i> </a>
            <a href="cart.html"> <i class="fa-solid fa-cart-shopping"></i></a>
            <a href="homepage.html"> <i class="fa-solid fa-house fa-fw"></i> </a>
            <input id="searchbar" type="text" placeholder="Search" >
        </div>
    </div>
</header>