<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleAdminDashboard.css">
    <link rel="stylesheet" href="/css/styleAddActivity.css">
    <link rel="stylesheet" href="/css/styleEditActivities.css">
    <link rel="stylesheet" href="/css/styleDatePicker.css">
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
        </script>
          
        <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js" >
        </script> 

</head>
<body>
    
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/adminHeader.ejs") %>
    <div class="main-content">



    <div id="adding">
        <h2><ins>Add Activity</ins></h2>
        <form method="post" action="/AddActivity/submit" enctype="multipart/form-data" id="form">
        <h3>City's Name</h3>
        <textarea id="ActName" rows="3" cols="60" name="Aname"></textarea>
        <h3>Header: </h3>
        <textarea id="ActHeader" rows="3" cols="60" name="Aheader"></textarea>

        <input type="hidden" id="dropbtn" list="Days" placeholder="Number of Days" name="Days" value="DAY TRIP">

        <h3>Type:</h3>
        <textarea id="ActType" rows="2" cols="25" name="Atype"></textarea>
        <input type="text" name="rate" value="0" style="display:none;">
        <h3>Images </h3>
        <div>
            <input type="file" id="imgs" name="imgs" multiple >
        </div>
        <h3>Advantage:</h3>
        <input type="text" id="adv" name="adv">
        <h2><ins>Details:</ins></h2>
        <h3>Brief Description: </h3>
        <textarea id="Actbrief" rows="5" cols="60" name="Abrief"></textarea>
        <h3>Detailed Description: </h3>
        <textarea id="Actdetails" rows="10" cols="60" name="Adetails"></textarea>
        <h3>Plan: </h3>
        <textarea id="ActPlan" rows="6" cols="60" name="Aplan"></textarea>
        <h2><ins>About the trip:</ins></h2>
        <h3>Cancellation details: </h3>
        <textarea id="ActCancel" rows="3" cols="60" name="Acancel"></textarea>
        <h3>Duration: </h3>
        <textarea id="ActTime" rows="2" cols="60" name="Atime"></textarea>
        <h3>Pickup Details: </h3>
        <textarea id="ActPickup" rows="4" cols="60" name="Apickup"></textarea>
        <h3>Maximum Participants: </h3>
        <textarea id="ActPart" rows="4" cols="60" name="Aparticipants"></textarea>
        <h3>Starting time:</h3>
        <input type="time" name="starttime" id="starttime">
        <h3>Ending time:</h3>
        <input type="time" name="endtime" id="endtime">
        <h3>Price per person: </h3>
        <input type="text" name="price" id="price">
        <h3>Available dates: </h3>
        <div class="container" style="width:470px;">
            <input type="text" class="form-control date" placeholder="Pick the multiple dates" name="Dates" style="margin-bottom:200px";>
        </div>	
        
        <input type="submit" name="submit" id="submit1" >
        <button onclick="reset()" id="reset1">Reset</button></div>
        </form>
    </div>
    <script src="/js/AddActivityJS.js"></script>
        
</body>
</html>