<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add city</title>
    <link rel="stylesheet" href="../css/styleAdminDashboard.css">
    <link rel="stylesheet" href="../css/styleAddHotel.css">

</head>

<body>
    <div class="h">
        <div class="admin">ADMIN</div>
    </div>

    <div class="main-content">

        <%- include("partials/adminHeader.ejs") %>

            <div class="right">
                <div id="container">
                    <form id="hotel" method="post" action="/AddHotel" enctype="multipart/form-data">
                        <div>
                            <label for="name">
                                <h2>city Name</h2>
                            </label>
                            <textarea name="name" id="hotelName" cols="60" rows="3"></textarea>
                            <span class="error-message"></span>
                        </div>
                        <div>
                            <h2>City Image</h2>
                        </div>
                        <div>
                            <div>
                                <input type="file" id="imgs" name="imgs" multiple>
                            </div>
                            <span class="error-message"></span>
                        </div>
                </div>
                <div>
                    <label for="hotels">Hotels</label>
                </div>
                <div>
                    <input type="checkbox" id="movenpick" name="movenpick" value="movenpick">
                    <label for="movenpick">Movenpick</label><br>
                    <input type="checkbox" id="Hilton" name="Hilton" value="Hilton">
                    <label for="Hilton">Hilton</label><br>
                    <input type="checkbox" id="Radisson" name="Radisson" value="Radisson">
                    <label for="Radisson">Radisson</label><br>
                    <input type="checkbox" id="luxor" name="luxor" value="luxor">
                    <label for="luxor">luxor</label><br>
                    <input type="submit" value="Submit">

                </div>
                <div>
                    <label for="activities">activities</label>
                </div>
                <div>
                    <input type="checkbox" id="cruse" name="cruse" value="cruse">
                    <label for="cruse">Cruse</label><br>
                    <input type="checkbox" id="balloon" name="balloon" value="balloon">
                    <label for="balloon">Balloon</label><br>
                    <input type="checkbox" id="safari" name="safari" value="safari">
                    <label for="safari">safari</label><br>
                    <input type="checkbox" id="valley of kings" name="valley of kings" value="valley of kings">
                    <label for="valley of kings">valley of kings</label><br>
                    <input type="submit" value="Submit">
                </div>
                </form>
            </div>
    </div>
</body>

</html>