<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hotel</title>
    <link rel="stylesheet" href="../css/styleAdminDashboard.css">
    <link rel="stylesheet" href="../css/styleAddHotel.css">

</head>
<body>
    <div class="h">
        <div class="admin">ADMIN</div>
    </div>
        
        <div class="main-content">
    
            <%- include("partials/adminHeader.ejs") %>
        
            <div class="right">
            <div id="container">
                <form id="hotel">
                    <div>
                        <label for="name"><h2>Hotel Name</h2></label>
                        <textarea name="name" id="hotelName" cols="60" rows="3"></textarea>
                        <span class="error-message"></span>
                    </div>

                    <div>
                        <label for="location"><h2>Location</h2></label>
                        <textarea name="location" id="location" cols="60" rows="3"></textarea>
                        <span class="error-message"></span>
                    </div>
                    <div>
                        <h2>Images</h2>
                    </div>
                    <div id="images">
                        <label for="inputTag" id="lab" >
                            <div id="upload">
                               <label for="addimg">Upload Images</label>
                               <input type="file" id="inputTag" class="addimg" name="picture" >
                               
                            </div>
                            <span class="error-message"></span>
                              <div>
                                <label id="chosenfiles"></label>
                              </div>
                        </label>
                    </div>
                    <div>
                        <h2>About</h2>
                    </div>
                    <div>
                        <textarea name="about" id="about" cols="150" rows="15"></textarea>
                    </div>

                    
                    <div id="items">
                        <div>
                            <h2>Property Amenities</h2>
                        </div>
                        <div class="item">
                                <div > 
                                    <textarea name="amenities" id="amenities" cols="30" rows="3"></textarea>
                                    <input type="checkbox" value="Free Wifi" id="freewifi" name="amen">
                                    <label for="freewifi" name="amen-wifi">Free Wifi</label>    
                                    
                                    <input type="checkbox" value="Spa" id="spa" name="amen">
                                    <label for="Spa" name="amen-spa">Spa</label>    
                                    
                                    <input type="checkbox" value="Parking" id="parking" name="amen">
                                    <label for="parking" name="amen-park">Parking</label>    
                                    
                                    <input type="checkbox" value="Aqua Park" id="aquapark">
                                    <label for="aquapark" name="amen-aqua">Aqua Park</label>    
                                    
                                    <input type="checkbox" value="Green Spaces" id="greenspaces" name="amen">
                                    <label for="greenspaces" name="amen-green">Green Spaces</label> 

                                    <input type="checkbox" value="Fitness Center" id="fitness"name="amen">
                                    <label for="fitness" name="amen-fit">Fitness Center</label>

                                    <span class="error-message"></span>
                                </div>
                        </div>

                        <div>
                            <h2>Room Features</h2>
                        </div>
                        <div class="item">
                                <div>
                                    <textarea name="roomfeatures" id="roomfeat" cols="30" rows="3"></textarea>
                                    <input type="checkbox" value="Blackout Curtains" id="blackcurtains" name="feat">
                                    <label for="blackcurtains" name="room-curtain">Blackout Curtains</label>    
                                    
                                    <input type="checkbox" value="Full Body Bath" id="bath" name="feat">
                                    <label for="bath" name="room-bath"> Full Body Bath</label>        
                                    
                                    <input type="checkbox" value="Mini Fridge" id="minifridge" name="feat">
                                    <label for="minifridge" name="room-fridge">Mini Fridge</label>    
                                    
                                    <input type="checkbox" value="Air Conditioning" id="aircond" name="feat">
                                    <label for="aircond" name="room-flat">Air Conditioning</label>
                                  </div>
                            
    
                        </div>

                        <div>
                            <h2>Room Types</h2>
                        </div>
                        <div class="item">
                            <div>
                                <textarea name="roomtypes" id="roomtypes" cols="30" rows="3"></textarea>
                            <input type="checkbox" value="Single Room" id="single" name="type">
                            <label for="single" name="type single">Single Bedroom</label>    
                                    
                            <input type="checkbox" value="Double Room" id="double" name="type">
                            <label for="double" name="type double">Double Bedroom</label>    
                                    
                            <input type="checkbox" value="Suite" id="suite" name="type">
                            <label for="suite" name="type suite">Suite</label>    
                                    
                            <input type="checkbox" value="Premium Suite" id="premsuite" name="type">
                            <label for="premsuite" name="type premsuite">Premium Suite</label>    
                            </div>
                            
                                    
                        </div>
                    </div>
                
             <div  id="buttons">
                    <button type="submit">Submit</button>
            </div>
        </form>
        </div> 
        
        </div> 
    </div>
       
    <script src="../js/addHotelJS.js"></script>
</body>
</html>