<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styleCart.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleForm.css">
</head>
<body>

    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>

    <h1 style="margin-left:2%;">Shopping Cart</h1>
    <div class="cart">
        <div class="left">
            <div class="items" id="item1">
                <div class="image">
                    <div>
                        <img src="../images/Fcities/hurgh icon.jpg" alt="icon" style="width:250px; height:200px;">
                    </div>
                </div>
                <div class="item-info">
        
                    <div>
                        <h2>Jaz aquamarine resort</h2>
                    </div>
                    
                    <div class="section">
                        
                        <div class="icon" style="margin-top:0;">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div>
                            <p>4.8</p>
                        </div>
                        
                    </div>
        
                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-people-group"></i>
                        </div>
                        <div>
                            <p>Adult (Age 12+)</p> 
                        </div>
                    </div>
                    
                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div>
                            <p> From: Thu,March 9,2023</p> 
                        </div>
                    </div>
                    
                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-money-bill-wave"></i>
                        </div>
                        <div>
                            <p>This activity is non-refundable</p>
                        </div>
                    </div>
                    
                </div>
                    
                <div class="item-right">
                    <i class="fa-solid fa-trash-can" style="margin-left:10%;" onclick="hideItem('item1')"></i>
                    <p>$ 897.25</p>
                </div>
            
            </div>
        

        <div class="items" id="item2">
            <div class="image">
                <div>
                    <img src="../images/Fcities/hurgh icon.jpg" alt="icon" style="width:250px; height:200px;">
                </div>
            </div>
            <div class="item-info">
    
                <div>
                    <h2>Jaz aquamarine resort</h2>
                </div>
                
                <div class="section">
                    
                    <div class="icon" style="margin-top:0;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <div>
                        <p>4.8</p>
                    </div>
                    
                </div>
    
                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-people-group"></i>
                    </div>
                    <div>
                        <p>Adult (Age 12+)</p> 
                    </div>
                </div>
                
                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div>
                        <p>From: Thu,March 9,2023</p> 
                    </div>
                </div>
                
                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-money-bill-wave"></i>
                    </div>
                    <div>
                        <p>This activity is non-refundable</p>
                    </div>
                </div>
                
            </div>
                
            <div class="item-right">
                <i class="fa-solid fa-trash-can" style="margin-left:10%;" onclick="hideItem('item2')"></i>
                <p>$ 897.25</p>
            </div>
        
        </div>
    </div>
    <div class="r">
        
        <div class="right">
            <div style="display:flex; height:30px;">
                <div style="flex:60%;">
                    <h3>Total (2 items):</h3>
                </div>
                
                <div>
                    <h3>
                        $1835.50
                    </h3>
                </div>
                
            </div>
            <div>
                
                <p style="font-size:15px;">All taxes and fees included</p>
            </div>
            <div style="text-align:center;">
                <button>Checkout</button>
                <button class="clear" style="background-color: #36241b; color:white;" onclick="clr()">Clear Cart</button>
            </div>
        </div>
        
       
    </div>
    </div>
        
    
<div style="height:200px">

</div>

<%- include("partials/footer.ejs") %>

  <script src="/js/cart.js"></script>
</body>
</html>