<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity</title>

  <link rel="stylesheet" type="text/css" href="/css/styleActivities.css">
  <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">
  <link rel="stylesheet" type="text/css" href="/css/styleActivity1.css">
  <link rel="stylesheet" href="/css/styleAdminDashboard.css">

  <style>
    .body{
        margin-left:250px;
    }
  </style>

</head>

<body>

  <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

  <%- include("partials/adminHeader.ejs") %>

 

  <div class="body">
    <h2>Users:</h2>
    <div class="group">
      <% if(users!=="" ) { %>
        <% users.forEach((user) => { %>
            <div class="btn" onclick="location.href= '/chat1'" style="margin-bottom:5px;"><%=user.Username%></div>
        <% }) %>
        <% } %>
        </div>
        </div>


  </body>
  </html>