<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <title>Chat app</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <h1>iChat</h1>
    <div class="main">
        <div class="name">
            <span><i class="far fa-user"></i></span>
            <input type="hidden" value="<%=user.Type %>" id="usertype">
            <p id="name-input" class="name-input" ><%=user.Username %></p> 
        </div>
        <ul class="message-container" id="message-container">
            <li class="message-left">
                <p class="message">
                    <span></span>
                </p>
            </li>
            <li class="message-right">
                <p class="message">
                    <span></span>
                </p>
            </li>
        </ul>

        <form class="message-form" id="message-form">
            <input type="text" name="message" id="message-input" class="message-input">
            <div class="v-divider"></div>
            <button type="submit" class="send-button">
                send <span><i class="fas fa-paper-plane"></i></span>
            </button>
        </form>
    </div>
    <script>
        var sender_id='<%=user._id%>';
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
        integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chat.js" type="text/javascript"></script>
</body>

</html>