<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">  
</head>
<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    
    <%- include("partials/headerPages.ejs") %>

    <div id="error" style="margin-left: 36%;margin-top: 15%;" >
      <h1 style="font-size: 40px; color: rgb(54, 36, 27);"><%= err %></h1>
    </div>

</body>

</html>