<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHF.css">
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleFood.css">
   
</head>


<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    
    <%- include("partials/headerPages.ejs") %>

      <div class="ALL_MENUES">
        <!--first menu--> 
        <div class="section_header">
            <h1>Dine In Restaurents</h1>
        </div><br>

        <div class="whole_menu">

                <div class="restaurant" onclick="location.href='food1.html'">
                    <div class="photo">
                        <img src="../images/restaurants/coco.jpg" alt="restaurant_1">
                        <div href="#" class="like-button">
                            <i class="fa fa-heart fa-1x"></i>
                          </div>
                    </div>
                    <div class="caption">
                        <h2>Coco</h2>
                        <h3>Reviews: 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </h3>
                        <h4>Address: CFC, Cairo</h4>
                    </div>
                </div>
    
            
                <div class="restaurant">
                    <div class="photo">
                        <img src="../images/restaurants/nistantasi.jpg" alt="restaurant_2">
                        <div href="#" class="like-button">
                            <i class="fa fa-heart fa-1x"></i>
                          </div>
                    </div>
                    <div class="caption">
                        <h2>Nistantasi</h2>
                        <h3>Reviews: 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </h3>
                        <h4>Address: Citystars, Cairo</h4>
                    </div>
                </div>
           
    
           
                <div class="restaurant">
                    <div class="photo">
                        <img src="../images/restaurants/tres bons .jpg" alt="restaurant_3">
                        <div href="#" class="like-button">
                            <i class="fa fa-heart fa-1x"></i>
                          </div>
                    </div>
                    <div class="caption">
                        <h2>Tres Bon</h2>
                        <h3>Reviews: 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-half-full"></span>
                        </h3>
                        <h4>Address: 14 Ghernata, Heliopolis, Cairo</h4>
                    </div>
                </div>
          
    
        
                <div class="restaurant">
                    <div class="photo">
                        <img src="../images/restaurants/sizzler.jpg" alt="restaurant_4">
                        <div href="#" class="like-button">
                            <i class="fa fa-heart fa-1x"></i>
                          </div>
                    </div>
                    <div class="caption">
                        <h2>Sizzler</h2>
                        <h3>Reviews: 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </h3>
                        <h4>Address: Citystars, Cairo</h4>
                    </div>
                </div>
            
    
            
                <div class="restaurant">
                    <div class="photo">
                        <img src="../images/restaurants/tamara.jpg" alt="restaurant_5">
                        <div href="#" class="like-button">
                            <i class="fa fa-heart fa-1x"></i>
                          </div>
                    </div>
                    <div class="caption">
                        <h2>Tamara Lebenese Bistro</h2>
                        <h3>Reviews: 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-half-full"></span>
                            <span class="fa fa-star"></span>
                        </h3>
                        <h4>Address: Tivoli Zayed Dome, Sheikh Zayed</h4>
                    </div>
                </div>
    
        </div><br>

    <!--second menu--> 
    <div class="section_header">
        <h1>Local Cuisine</h1>
    </div><br>

    <div class="whole_menu">
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/abu tarek2.jpeg" alt="restaurant_1">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Abu Tarek Koshary</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </h3>
                    <h4>Address: Choppin ln Champollion, Cairo</h4>
                </div>
            </div>

        
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/bashandy.jpeg" alt="restaurant_2">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Am Bashandy</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                    </h3>
                    <h4>Address: Saudi Buildings, Nasr City, Cairo</h4>
                </div>
            </div>
        

       
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/Sobhy kaber.jpg" alt="restaurant_3">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Sobhy Kaber</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-hakf-full"></span>
                    </h3>
                    <h4>Address: 151 Abeid Street, Cairo</h4>
                </div>
            </div>
        

        
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/Abo heider.jpg" alt="restaurant_4">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Abo Heider</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-hal"></span>
                        <span class="fa fa-star"></span>
                    </h3>
                    <h4>Address: Ibrahim AlLakani, Heliopolis, Cairo</h4>
                </div>
            </div>

        
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/alban el madina.jpg" alt="restaurant_5">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Almadina Almonwara</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </h3>
                    <h4>Address: Shams Aldin AlZahaby ,AlGolf, Cairo</h4>
                </div>
            </div>

    </div><br>

      <!--third menu--> 
      <div class="section_header">
        <h1>Hot Spots</h1>
    </div><br>


      <div class="whole_menu">
    
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/kazoku.jpg" alt="restaurant_1">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Kazoku</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </h3>
                    <h4>Address: Swan Lake, New Cairo</h4>
                </div>
            </div>


            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/smokery helioplis.jpg" alt="restaurant_2">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>The Smokery Helioplis</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                        <span class="fa fa-star"></span>
                    </h3>
                    <h4>Address: 58 Beirut, Almazah, Heliopolis, Cairo</h4>
                </div>
            </div>



            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/What the crust.jpg" alt="restaurant_3">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>What The Crust</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </h3>
                    <h4>Address: no.10 street 275, new maadi, cairo </h4>
                </div>
            </div>
 


            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/os pasta.jpg" alt="restaurant_4">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>O's Pasta</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </h3>
                    <h4>Address: 26th of July Corridor, Zamalek, Cairo </h4>
                </div>
            </div>
 

            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/willys kitchen.jpg" alt="restaurant_5">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Willy's Kitchen</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                    </h3>
                    <h4>Address: 9 Hafez Ramadan, Nasr City, Cairo</h4>
                </div>
            </div>


    </div><br>



      <!--fourth menu--> 
      <div class="section_header">
        <h1>Fine Dining</h1>
    </div><br>


      <div class="whole_menu">
        
            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/JWM.jpeg" alt="restaurant_1">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>JW Marriot Steakhouse</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </h3>
                    <h4>Address: Cairo Mirage City, Ring Road, Cairo</h4>
                </div>
            </div>


            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/139 pavillion.jpeg" alt="restaurant_2">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>The 139 Pavilion</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </h3>
                    <h4>Address: Marriott Mena House, Cairo</h4>
                </div>
            </div>



            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/revolving restaurant.jpeg" alt="restaurant_3">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>The Revolving Restaurant</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </h3>
                    <h4>Address: Grand Nile Tower</h4>
                </div>
            </div>



            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/vivo.jpeg" alt="restaurant_4">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Vivo</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full checked"></span>
                    </h3>
                    <h4>Address: The Ritz-Carlton, Cairo </h4>
                </div>
            </div>


            <div class="restaurant">
                <div class="photo">
                    <img src="../images/restaurants/fayrouz lebenese.jpeg" alt="restaurant_5">
                    <div href="#" class="like-button">
                        <i class="fa fa-heart fa-1x"></i>
                      </div>
                </div>
                <div class="caption">
                    <h2>Fayrouz</h2>
                    <h3>Reviews: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </h3>
                    <h4>Address: Located in: InterContinental, Cairo</h4>
                </div>
            </div>


    </div><br>
      </div>

      <%- include("partials/footer.ejs") %>

</body>
</html>