<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleForm.css">
    <link rel="stylesheet" href="/css/restaurent1.css">

</head>

<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>

    <div class="whole_page">
        <div class="fayrouz">
            <div class="rating">
             <h1>Fayrouz Lebenese Bistro</h1>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star-half-stroke"></i><br>
             2,100 reviews<br>
            </div>
          </div>
          <div class="slideshow" style="width: auto;">
           <div class="Slides">
             <div class="numbertext">1 / 3</div>
               <img src="../images/restaurant1/f2.jpg" alt="pic1" style="width:100%">
           </div>
          
           <div class="Slides">
             <div class="numbertext">2 / 3</div>
               <img src="../images/restaurant1/f5.jpeg" alt="pic2" style="width:100%">
           </div>
          
           <div class="Slides">
             <div class="numbertext">3 / 3</div>
               <img src="../images/restaurant1/f4.jpeg" alt="pic3" style="width:100%">
           </div>
          
          
           <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
           <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
          </div>
          
          <script src="/js/restaurent1.js"></script>
          
          <div class="about">
          
          <h2>Details: </h2>
          <p>
           <a href="https://menu.citystarshotels.com/fayruz/">Menu</a><br>
             Phone Number: 02 24800009<br>
             Working Hours: 1:00pm - 1:00am<br>
             Food: Lebenese, Mediterranian, Healthy<br>
             Address: InterContinental Cairo Citystars Omar Ibn El Khattab St., Heliopolis, Cairo<br>
          </p>
          
          <h2> About:</h2>
          <p>
           Guests familiar with the flavours and spices of Lebanese cuisine will find them blended to perfection at Fayruz.
          for newcomers, let the famously friendly staff introduce you over lunch on the outdoor terrace or an exotic dinner show 
          with live belly dancing. The interior is delightfully authentic and evocative.
          </p>
          
          <h2>Cusines:</h2>
          <p>Lebanese, Mediterranean, Healthy, Middle Eastern
          </p><br>
          
          <h2>Special Diets: </h2>
          <p>Vegetarian Friendly, Vegan Options, Halal, Gluten Free Options
          </p><br>
          
          <h2>Features:</h2>
          <p>
           Valet Parking, Reservations, Outdoor Seating, Private Dining, Seating, Parking Available, Validated Parking,
           Highchairs Available, Wheelchair Accessible, Serves Alcohol, Full Bar, Accepts American Express, Accepts Mastercard, 
           Accepts Visa, Free Wifi, Accepts Credit Cards, Table Service, Live Music
          </p><br>
          
          
          <hr>
          
          <h2>Reviews:</h2>
          
          </div>
          
          <div class="container">     

          <div class="reviews">
            <div class="reviewer">
                <h3>Jan Erik wrote a review Jan 2023</h3>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
             <p>"Such an amazing night, and the service was very nice.. I’d definitely consider coming back again :))"</p>
          </div>
          
          <div class="reviews">
          <div class="reviewer">
            <h3>Tony Nagy wrote a review Feb 2023</h3>
          </div>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
            <p>"Excellent and friendly service! Sarby was very helpful to our group. The atmosphere was great and the entertainment was amazing. Would definitely recommend."</p>
          </div>
          
          <div class="reviews">
          <div class="reviewer">
          <h3>Shahd Medhat wrote a review Dec 2022</h3>
          </div>
          <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          </div>
          <p>"My husband and I dined here and it was wonderful! The food was excellent, service excellent and we joined on an evening with free live entertainment!"</p>
          </div> 
          
          <div class="reviews">
          <div class="reviewer">
          <h3>Laila Ezzat wrote a review Dec 2022</h3>
          </div>
          <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          </div>
          <p>"Delicious meals, amazing service and entertaining music and dance programme.
           The interior is an additional plus."</p>
          </div> 
          
          <div class="reviews">
          <div class="reviewer">
          <h3>Hussein Waleed wrote a review Dec 2022</h3>
          </div>
          <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          </div>
          <p>"Every thing was very good. I really like the hummus and the milk pudding was very nice. The staff was very accomidating"</p>
          </div> 
          
          <div class="reviews">
          <div class="reviewer">
          <h3>Jana Driny wrote a review Dec 2022</h3>
          </div>
          <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          </div>
          <p>"Fantastic! So much food. Service excellent. Highly recommend this place. Know about food allergies. Would recommend to anyone!"</p>
          </div> 
          </div>
    </div>

    <%- include("partials/footer.ejs") %>

</body>

</html>