<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/styleHF.css">
    <link rel="stylesheet" type="text/css" href="/css/styleCities.css">
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleBody.css">
    
</head>
<body>
   <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    
   <%- include("partials/header.ejs") %>
    <div class="why-choose-us">
      <script src="https://kit.fontawesome.com/3472d45ca0.js" crossorigin="anonymous"></script>
      <span class="all">
          <div class="first">
              <img src="/images/icons/icons8-satisfaction-64.png" alt="experience">
              <div class="cardtitle">
                <h3>Great Memories</h3>
              </div>
              <div class="cardinfo">
                <h5>Browse and book tours and activities so incredible, you'll want to tell your friends.</h5>
              </div>
              
          </div>
          <div class="first">
            <img src="/images/icons/icons8-best-price-64.png" alt="price" style="width:64px; height:64px;">
              <div class="cardtitle">
                <h3>Honest Prices</h3>
              </div>
              <div class="cardinfo">
                <h5>Best Prices in town. Huge selection of destinations with the minimum budget and highest quality.</h5>
              </div>
              
          </div>
          <div class="first">
            <img src="/images/icons/icons8-quality-64.png" alt="quality">
              <div class="cardtitle">
                <h3>Quality Guarantee</h3>
              </div>
              <div class="cardinfo">
                <h5>High quality standards. Millions of reviews. A Viator company.you'll want to tell your friends.</h5>
              </div>
              
          </div>
          <div class="first">
            <img src="/images/icons/icons8-support-64.png" alt="support">
              <div class="cardtitle">
                <h3>Full Support</h3>
              </div>
              <div class="cardinfo">
                <h5>Contact us and get full support from choosing tour to advice to what to take with you on trip.</h5>
              </div>
              
          </div>
        </span>
    </div>   
    <script src="/js/popupJS.js" type="text/javascript" ></script>



<div class="allimages">
        <h1 id="tex1">Cities in Egypt </h1>
      <div class = "row">
          <button>
          <div class="container1">
              <img  src="/images/Fcities/siwa.jpg" alt="Siwa">
              <div class="centered">Siwa</div>   
          </div>
          </button>

          <button>
          <div class="container1"> 
              <img  src="/images/Fcities/Alexandria.jpg" alt="Alexandria">
              <div class="centered">Alexandria</div>    
          </div>
          </button> 

          <button>
          <div class="container1">
              <img  src="/images/Fcities/aswan.jpg" alt="Aswan">
              <div class="centered">Aswan</div>
          </div>
          </button>

          <button>
          <div class="container1">
              <img  src="/images/Fcities/hurghada.jpg" alt="Hurghada">
              <div class="centered">Hurghada</div>
          </div>
          </button>
        </div>
      <div class="row">
          <button>
          <div class="container1">
              
              <img  src="/images/Fcities/giza.jpg" alt="Giza">
              <div class="centered">Giza</div>
          </div>
          </button>
          
          <button onclick="location.href='luxor.html';">
          <div class="container1">
              <img  src="/images/Fcities/luxor.jpg" alt="Luxor">
              <div class="centered">Luxor</div>
          </div>
          </button>

          <button>
          <div class="container1">
              
              <img  src="/images/Fcities/kom ombo.jpg" alt="Kom Ombo">
              <div class="centered">Kom-Ombo</div>
          </div>
          </button>
           
          <button>
          <div class="container1">
              <img  src="/images/Fcities/dahab.jpg" alt="Dahab">
              <div class="centered">Dahab</div>
          </div>
          </button>
        </div>
</div>
<%- include("partials/footer.ejs") %>
</body>
</html>