<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaz Aquamarine Resort</title>

    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleJazHotel.css">

</head>
<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>

    <div class="page">
        <div class="hotel">
            <div>
                <h1>Jaz Aquamarine Resort</h1>
           </div>
               <span class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                &nbsp;
                <span>
                    14,010 reviews
                </span>  
             
            <div>
            <p>South Sahl Hashish Road,Hurghada, Red Sea and Sinai, Egypt</p>
            </div>
         </div>
        <div class="grid">
            <div class="mySlides">
                <div class="numbertext">1 / 10</div>
                  <img src="../images/jaz hotel/6.jpeg" style="width:100%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">2 / 10</div>
                  <img src="../images/jaz hotel/2.jpg" style="width:100%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">3 / 10</div>
                  <img src="../images/jaz hotel/8.jpg" style="width:100%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">4 / 10</div>
                  <img src="../images/jaz hotel/9.jpg" style="width:100%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">5 / 10</div>
                  <img src="../images/jaz hotel/3.jpg" style="width:100%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">6 / 10</div>
                  <img src="../images/jaz hotel/1.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">7 / 10</div>
                  <img src="../images/jaz hotel/4.jpeg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">7 / 10</div>
                  <img src="../images/jaz hotel/5.jpg"style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">7 / 10</div>
                  <img src="../images/jaz hotel/7.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">7 / 10</div>
                  <img src="../images/jaz hotel/10.jpg" style="width:100%">
              </div>

              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <table class="grid">
                <tr>
                    <td><img class="demo" src="../images/jaz hotel/6.jpeg" alt="jaz hotel image" onclick="currentSlide(1)"></td>
                    <td><img class="demo" src="../images/jaz hotel/2.jpg" alt="jaz hotel image" onclick="currentSlide(2)"></td>
                    <td><img class="demo" src="../images/jaz hotel/8.jpg" alt="jaz hotel image" onclick="currentSlide(3)"></td>
                    <td><img class="demo" src="../images/jaz hotel/9.jpg" alt="jaz hotel image" onclick="currentSlide(4)"></td>
                    <td><img class="demo" src="../images/jaz hotel/3.jpg" alt="jaz hotel image" onclick="currentSlide(5)"></td>
                </tr>
                <tr>
                    <td><img class="demo" src="../images/jaz hotel/1.jpg" alt="jaz hotel image" onclick="currentSlide(6)"></td>
                    <td><img class="demo" src="../images/jaz hotel/4.jpeg" alt="jaz hotel image" onclick="currentSlide(7)"></td>
                    <td><img class="demo" src="../images/jaz hotel/5.jpg" alt="jaz hotel image" onclick="currentSlide(8)"></td>
                    <td><img class="demo" src="../images/jaz hotel/7.jpg" alt="jaz hotel image" onclick="currentSlide(9)"></td>
                    <td><img class="demo" src="../images/jaz hotel/10.jpg" alt="jaz hotel image" onclick="currentSlide(10)"></td>
                </tr>
            </table>
        </div>
         <script src="/css/jazhotel.js"></script>
         
        <div class="about">
          <div>
            <h1>About</h1>
            <hr>
          </div>
          <div class="rat">
            <span>
              <strong>4.5</strong>
            </span>
            <div id="exc">
              <div><h3>Excellent</h3></div>
              <span class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </span>
            </div>
          </div>
          <div class="inf">
            <div class="text">
              Jaz Aquamarine Resort is made for those who want to spoil 
              themselves with the prefect, relaxed, All inclusive luxurious
              five-star Egypt holiday. Located on the southern tip of Hurghada wi
              th its own unspoiled private beach, this impressive complex features sev
              en restaurants. It boasts over 1,001 comfortable rooms equipped with all the 
              latest facilities, services and amenities as well as the “Mercato” shopping
               complex and a conference centre for up to 1500 people.
            </div>

            <div  class="list1">
              <div>Property amenities</div>
              <ul>
                <li>
                    <span>
                    <i class="fa-solid fa-square-parking"></i>
                     <span>Free parking</span>
                    </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wifi</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-water-ladder"></i>
                    <span>Pool</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-spa"></i>
                    <span>Spa</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-person-walking"></i>
                    <span>Fitness center</span>
                  </span>
                </li>

              </ul>
            </div>

            <div  class="list1">
              <div>Room feautures</div>
              <ul>
                <li>
                    <span>
                      <i class="fa-solid fa-person-booth"></i>
                     <span>Blackout curtains</span>
                    </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-snowflake"></i>
                    <span>Air conditioning</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-shower"></i>
                    <span>Bath / shower</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-lock-open"></i>
                    <span>Housekeeping</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-check"></i>
                    <span>Flatscreen TV</span>
                  </span>
                </li>

              </ul>
            </div>

            <div  class="list1">
              <div>Room types</div>
              <ul>
                <li>
                    <span>
                      <i class="fa-solid fa-earth-oceania"></i>
                     <span>Ocean view</span>
                    </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-water-ladder"></i>
                    <span>Pool view</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-check"></i>
                    <span>Suites</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-check"></i>
                    <span>Family rooms</span>
                  </span>
                </li>

                <li>
                  <span>
                    <i class="fa-solid fa-ban-smoking"></i>
                    <span>Non-smoking rooms</span>
                  </span>
                </li>

              </ul>
            </div>
          </div>
         </div>
        <div class="booking">
          <div>
            <h3>Lowest prices for your stay</h3>
          </div>
        <div id="bForm">
          <div id="inout">

            <div id="in">
              <div>
                  <label for="checkIn" class="l">Check In</label>
                  <input type="date" id="checkIn" name="checkIn">

                  <div id="ci-error" class="error-message">
                  </div>
              </div>
              
            </div>

            <div id="out">
              <div>
                  <label for="checkOut" class="l">Check Out</label>
                  <input type="date" id="checkOut" name="checkOut">

                  <div id="co-error" class="error-message">
                  </div>
             </div>
             
             </div>

          </div>


          
        <div id="reserv">
          <div>
            <input id="dropbtn1" list="Adults" placeholder="Adults">
          <datalist id="Adults">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
            <option value="10"></option>
          </datalist>
          <div id="ad-error" class="error-message">
          </div>
          </div>
          

        <div>
            <input id="dropbtn2" list="Children" placeholder="Children">
            <datalist id="Children">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
              <option value="6"></option>
              <option value="7"></option>
              <option value="8"></option>
              <option value="9"></option>
              <option value="10"></option>
            </datalist>
            <div id="chi-error" class="error-message">
        </div>
      </div>
        <div>
            <input id="dropbtn3" list="Rooms" placeholder="Rooms">
          <datalist id="Rooms">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
            <option value="10"></option>
          </datalist>
          <div id="r-error" class="error-message">
          </div>
        </div>
          
          
        </div>
        <div>
          <button id="book" onclick="bookHotel()">Add To Cart</button>
        </div>
      </div>
        
        <script src="/css/jazhotel.js"></script>
      </div>
     </div>
     <div style="margin-top: 6%;">
        <h2>Reviews</h2>
    </div>
     <div class="first">                  
       <div class="reviews">
               <div class="rev">
                   <h6 class="R">Jan Erik L wrote a review Jan 2023</h6>
               </div>
               <div class="rating">
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
               </div>
                   <p class="R">"After we thought the all in experience in turkey is the best, we are completely convinced that jaz aquamarine is 10 times better.
                    People were SO FRIENDLY, helpfull, everything was so clean, toilets were constantly cleaned, the garden was a picture right from a book. food was SOO FESH AND GOOD.
                    pools where SOO clean and nice.
                    They even put a birthday cake on my room and decorated my sunbed.
                    never seen people so friendly and helpful.
                    every detail was perfect. 
                    Best all in ever. We go back
                    "</p>
       </div>


       <div class="reviews">
           <div class="rev">
               <h6 class="R">Tony Nagy L wrote a review Feb 2023</h6>
           </div>
           <div class="rating">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stroke"></i>
           </div>
               <p class="R">"Absolutely stunning hotel & grounds . Rooms lovely. Heated pools. Something for everyone. Would recommend for everyone. Only downside is there is no lifts on site at all so would be difficult for people with mobility issues, however there are slopes 
                and stairs. Aqua park and pool area for kids. Staff are so friendly and helpful."</p>
       </div>
       <div class="reviews">
         <div class="rev">
             <h6 class="R">Sara Samy L wrote a review Dec 2022</h6>
         </div>
         <div class="rating">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
         </div>
             <p class="R">"Thank you for choosing Jaz Aquamarine to spend your holiday. My team and 
              I would also like to thank you for your valued feedback. We are extremely committed t
              o delivering the perfect holiday experience for each and every guest and are very pleased that you enjoyed your stay here with us.
              We would also like to thank you for your positive comments about our hotel grounds, rooms, friendly and helpful staff as well as kind recommendation.."</p>
       </div> 
       </div>
      </div>

      <%- include("partials/footer.ejs") %>

</body>
</html>