<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms&Conditions</title>
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleActivities.css">
    <link rel="stylesheet" href="/css/styleForm.css">
    <link rel="stylesheet" href="/css/T&C.css">


</head>

<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>

    <div class="containerb">

        <div class="infotc">

            <h2>General terms and conditions: </h2><br>

            <p> <hr>
                <h3>1. About us</h3><br>
                We, EgyTours, registered address Ahmed Fakhry, Nasr City, Cairo, Egypt, registered with the Egyptian Local Court under HRB 132059 B, EgyTours is the operator of the ET Platform and are responsible for it accordingly. Our platform is available worldwide and is quick and easy to use.
                We operate the ET Platform as an intermediary platform on which tours and activities are offered online by a variety of local activity providers such as amusement parks, museums, tour guides, boat tours around the world ("Suppliers"). The Activities include, for example, guided tours, cooking classes, sightseeing tours by bus, boat trips, tickets for sightseeing, and other services. We act as a commercial agent for the Suppliers. The descriptions, photographs, and other content for its own Activities originate from the respective Suppliers. We therefore have no direct influence on such content.<br>
                <hr>
                <h3>2. Scope</h3><br>
                2.1 These ET GTC apply to all visitors to and users of the EgyTours Platform and to all content within the offered operating systems (currently iOS, Android) ("Users"). As soon as you use the ET Platform, you are obliged to comply with these ET GTC. Therefore, please read them carefully during your first use.<br>
                2.2 They are available online and apply to all of our services, unless more specific terms and conditions for a specific service prevail. Should this be the case, we will make this clear at the appropriate time. Any of your terms and conditions that conflict with or deviate from the ET GTC shall not apply unless we have expressly agreed to them in writing.<br>
                2.3 The use of the ET Platform is only for you personally, i.e. you may not use it under any circumstances for business purposes. Keyword: Reselling tickets is absolutely forbidden ! This means that any use that goes beyond your personal use in your private environment and/or serves commercial or business purposes, those personally connected to you and/or other third parties, in particular the commercial resale of tickets, is strictly prohibited.<br>
                <hr>
                <h3>3. What we do</h3><br>
                3.1 You can view Activities on the EgyTours Platform. The contract for the provision of the Activity is concluded exclusively and directly between you and the Supplier ("Service Agreement"). When you buy an Activity on the ET Platform, you  are not buying anything from us, but directly from the Supplier. Service Agreements are concluded by us on behalf and for the account of the Suppliers. We act as a commercial agent for the Suppliers and are commissioned and authorized by the Suppliers to conclude transactions directly between Suppliers and Users, e.g. you, and for the account of the Suppliers and to collect payments from the Users. We do not offer any activities ourselves and therefore do not become your contractual party to any Service Agreement. We do not act as the organizer, the landlord, reseller or other contractual partner in relation to the Service Agreement with you. We receive a commission from the Supplier for brokering the Service Agreement. <br>
                3.2 You can filter the list of Activities by different parameters. The discovery wizard will show you Activities that match your criteria and are offered by a specific Supplier. If more than one Supplier is able to offer an Activity that matches the criteria entered in the discovery wizard, the applicable Activities will be displayed in an order based on the factors including popularity, diversity, availability, cancellation rate, rating, performance over time, and amount of revenue generated.<br>
                3.3 In the interest of a fast and smooth process, you may direct questions about your booking to the GetYourGuide customer service. For this purpose you can find various forms on Contact us ⎸GetYourGuide, as well as through our hotline. As commercial agents, we support the Suppliers in this process. We usually answer within 24 hours, or at the latest usually within 48 hours. The communication between you and the Supplier can be done directly. In case of emergency, the contact details of the respective Supplier can be found on your voucher/ticket.<br>
                3.4 We reserve the right to make the use of the GYG Platform, individual functions of the GYG Platform or the extent to which individual functions can be used, subject to certain conditions, such as the payment behavior of the User (e.g. in the case of prior bookings) or the presentation of certain proof (e.g. proof of identity, purchase, payment, or ownership). We reserve the right to restrict your booking of Activities, or cancel Activities you have booked, in the case of suspected fraud, violation of these ET GTC, or violation of obligations under the Service Agreement, which become known to EgyTours.<br>
                3.5 We are not obligated to improve, extend (update/upgrade) or make available the content, functions and services provided via the GYG Platform. We may discontinue our services and performances at any time; there is no right to continuation. However, if you have already concluded a Service Agreement with a Supplier, Section 15 applies to you, i.e. the Service Agreement.<br>
                <hr>
                <h3>4. Registration and ET account</h3><br>
                4.1 Although registration is not required to access the EgyTours Platform, you must register with us in order to use all features, for example, the "Wish List".<br>
                4.2 In order to create an account  ("ET Account"), you must enter your full legal name and email address in the registration form on the GYG Platform and may set a password. If  available, you can create an account without a password by using the option to create a passwordless account with an email verification link. You must keep this data secret so that no third party has access to your account. After clicking the button "Confirm email" you will receive a confirmation ‘welcome’ email from GetYourGuide. Your ET account has now been created.<br>
                4.3 You may only create one ET Account for yourself. You may not transfer the account to anyone else.<br>
                <hr>
                <h3>5. Conclusion of contract with EgyTours- User Agreement</h3><br>
                5.1 The subject matter of the contract with us as the contracting party, is the use of the ET platform free of charge (“User Agreement”).<br>
                5.2 The contractual relationship between you and us comes into effect as soon as you use the ET platform. A blocking, termination or deletion of your ET Account is possible at any time via the EgyTours customer service by phone or via the contact form under "Delete account". The contact details can be found at Contact Us-> EgyTours .<br>
                5.3 EgyTours may unilaterally terminate your User Agreement, ET Account or your access to the ET Platform at any time with a notice period of one week. However, the termination will become effective only after any already established Service Agreements have been executed or canceled. The right to termination for good cause remains unaffected.<br>
                <hr>
                <h3>6. Customer Service / Best Price Matching by EgyTours</h3><br>
                6.1 You can reach our customer services team at Contact Us-> EgyTours , we are available by phone, chat or email.<br>
                6.2 If you find the activity booked via the ET Platform (i) with the same conditions (date, city, number of persons), (ii) with the same services, (iii) at a lower price on the Internet, (iv) bookable with the same Supplier and prove this to us, we will pay you the difference between the lower price booked via EgyTours and the lower price found and available by you on the Internet. Offers that are part of trust or loyalty programs are excluded from best price matching.<br>
                6.3 To make use of this best price matching offer, you must send us the link (and/or a screenshot of the alternative offer) upon request. We will then check this and should the price actually be lower, pay the difference, whereby this payment can also be made by means of a voucher.<br>
                6.4 All special offers and discount promotions are marked as such.<br>
                <hr>
                <h3>7. Payment at EgyTours</h3><br>
                7.1 The price offered on the ET Platform ("Posted Price") shall apply to the Activity. The amount you pay for an Activity ("Booking Price") is the Posted Price less any applicable discount. Unless otherwise agreed, the Booking Price for the Activity is payable immediately upon booking. <br>
                7.2 For selected Activities, you may be able to choose the "Reserve now, pay later" feature. This is only possible with a credit card that is valid at least until the date of the selected Activity; to confirm this, we will charge 0 EgyPounds to your credit card when you complete your booking. 72 hours before the start of the Activity we will debit the Booking Price. If the credit card charge fails, you have 47 hours to make the payment manually. If this fails and the payment is not made, we will automatically cancel the Activity you booked.<br>
                7.3 EgyTours is entitled to receive the invoiced amounts in the name of and on behalf of the Supplier (as a commercial agent), unless otherwise expressly stated in the Supplier's invoice. With the successful payment to EgyTours, you have fulfilled your payment obligations towards the Supplier with a discharging effect. If claims are to be paid in a currency other than your local currency (foreign currency claim), EgyTours may (in its role as a commercial agent) collect payment in the your local currency and convert the foreign currency claim at the current exchange rate at the time of the conclusion of the contract. For highly volatile currencies, we may charge a reasonable exchange fee.<br>
                7.4 We are your contact in connection with a Service Agreement and payment therefore as the commercial agent of the Supplier. If you wish to request a refund of the Booking Price outside of our cancellation policy, you may contact us. We will then contact the Supplier, and the Supplier will determine in its discretion whether to honor the refund request. A refund granted by the Supplier can be processed by the Supplier through us.<br>
                7.5 You must provide payment information truthfully and update it immediately in the event of changes. The means of payment permitted for the Activity will be displayed to you in the order process. The terms and conditions of the payment service provider will apply. Your payment service provider may charge additional fees. You are required to confirm to us that you are authorized to use or have the right to use a payment method you select.<br>
                7.6 In some cases you will not pay the Booking Price to EgyTours, or directly to the Supplier, but to another company that we have appointed to process the payment as a sub-agent. For example, if you live in the USA or use a credit card issued in the USA for payment, EgyTours Operations Inc, one of our subsidiaries, will process the payment. These payments are subject to the same terms and conditions as payments made directly to us, so nothing changes for you. You will have also fulfilled your payment obligations with the successful payment to the sub-agent with a discharging effect towards the Supplier. If you have questions relating to payment, you can contact our local customer service team.<br>
                7.7 By authorizing payment, you consent to your payment information being used to collect payment for the Supplier. We reserve the right to make the use of the payment function or individual payment methods on the ET Platform dependent on a check of the required creditworthiness.<br>
                <hr>
               <h3> 8. Changes and Cancellations</h3>
                8.1 You may only cancel the Service Agreements in accordance with the cancellation conditions as stated in the Supplier T&Cs, the description of the Activity on the ET Platform, or on the voucher/ticket issued for the Activity.<br>
                8.2 To avoid misunderstandings, you must make changes (e.g. rescheduling the Activity date or making changes to the participants) and cancellations via the ET Platform, unless otherwise agreed.The change or cancellation must be made in good time; what is "in good time" depends on each individual case (e.g. within the applicable cancellation period) and may be subject to the Activity’s availability. Therefore, it is very important that you carefully read all terms and conditions on the Activity page or the Supplier T&Cs. The decisive factor for a timely cancellation is the timely receipt of the notification by EgyTours. If these conditions are met, we will issue a cancellation/change confirmation on behalf of the Supplier. This will serve as proof of the cancellation/change and therefore must be kept.<br>
                8.3 We can notify you of changes or cancellations on behalf of the Supplier, especially if at short notice, by your provided telephone number and by sending changes to your email address.<br>
                8.4 Unless there are different cancellation conditions specified in the description of the Activity on the ET Platform, in the Supplier  T&Cs, or on the Activity voucher/ticket, the following cancellation conditions shall apply:
                a) For cancellations more than 24 hours before the start of the Activity: full refund of the Booking Price; and
                b) For cancellations 24 hours or less before the start of the Activity or in case of no-show: no refund.<br>
                <hr>
                <h3>9. Reviews and Other User Content</h3><br>
                9.1 We offer you the opportunity to view reviews and other content posted by other users  on the ET Platform. The reviews reflect the personal opinion of a respective user from a specific point in time and are therefore shaped by personal ideas and expectations. It must also be noted that the Activity may have changed since the review or other content was posted. The number of reviews and ratings given should also be taken into account, as a single opinion is often less meaningful than the synopsis of a large number of opinions.<br>
                9.2 You can personally influence the content of the ET Platform by writing reviews of Activities which you have purchased or posting pictures (together, "User Content"). You are fully responsible for the User Content you post. It is strictly forbidden to post User Content on the ET Platform that: (i) is untrue or misleading; (ii) openly or covertly advertises products, services or companies; (iii) is created in return for remuneration from a third party; (iv) is created by or at the direction of the Supplier who provides the Activity; (v) violates the intellectual property, privacy, or other rights of a third party; or (vi) contains links or similar information/references that are likely to impair the functioning of third-party data processing systems.<br>
                9.3 You are obligated to ensure that you are entitled to the necessary rights of use for images before uploading the User Content. In particular, images or photos where we can see  other people  may only be uploaded to the ET Platform if these persons gave their consent. If you want to use pictures that have been taken by a person other than you, you also need the consent of this person.<br>
                9.4 The public accessibility of the User Content may not violate legal provisions, morality and/or the rights of third parties; in particular, you may not upload and/or make publicly accessible any User Content with depictions of violence, pornography, discrimination, insults, racism, defamation or other illegal content or depictions.<br>
                9.5 You retain ownership of any User Content you create. You grant to EgyTours a non-exclusive, sublicensable (through one or more tiers), worldwide, fully-paid and royalty-free license, in any and all media now known or hereafter discovered or developed, to use, reproduce, adapt, translate, make derivative works of, modify, perform, publicly display, publicly perform, transmit, and distribute the User Content including (i) on or through the EgyTours Platform, (ii) on or through EgyTours’s partners, and (iii) in online and offline marketing materials.<br>
                9.6 We may remove User Content as necessary and at our sole discretion. For example, EgyTours may remove User Content if, in our opinion, it violates our obligations under Sections 9.2-9.4. We are not obligated to keep copies of User Content or to provide such copies.<br>
                9.7 EgyTours, its affiliates, sub-agents and their (distribution) partners, may display advertisements and other information next to or together with the User Content on the ET Platform as well as on other media. You are not entitled to any compensation for such advertisements. We reserve the right to make changes to the type and scope of such advertising measures; we will not notify you of such changes.<br>
                <hr>
                <h3>10. Data protection</h3><br>
                10.1 All your personal data collected through the ET Platform is processed by EgyTours as a data controller, in accordance with relevant data protection laws and for the purposes described in the Privacy Policy. EgyTours shares your personal data with Suppliers to the extent it is necessary for the performance of the Service Agreement between you and Supplier or when necessary to comply with a legal obligation and for other purposes legally allowed. Suppliers are independent data controllers and bear the sole responsibility of processing your personal data. <br>
                10.2 You will find detailed information on how to exercise your data protection rights in the Privacy Policy.<br>
                <hr>
                <h3>11. Indemnification</h3><br>
                11.1 You shall fully indemnify us for all damages, costs and expenses (including reasonable legal defense costs) incurred by us, our agents, or partners as a result of:<br>
                11.1.1 your intentional or negligent misrepresentation, act, or omission in connection with your use of the ET Platform;<br>
                11.1.2 your intentional or negligent non-compliance with the ET GTC; or<br>
                11.1.3 claims asserted by third parties arising out of or in connection with your access to or use of the ET Platform that intentionally or negligently violates these ET GTC.<br>
                <hr>
                <h3>12. Assignment</h3><br>
                You may not transfer or assign your rights and/or obligations under these ET GTC, except for any claim for damages.<br>
                <hr>
                <h3>13. Severability clause</h3><br>
                Should individual provisions of these ET GTC be or become void or ineffective in whole or in part, this shall not affect the validity of the remaining provisions. Statutory law shall take the place of any provisions of these ET GTC that are not included or are invalid. If such statutory law is not available in the respective case or would lead to an unacceptable result, the parties shall enter into negotiations to replace the non-included or invalid provision with a valid provision that comes as close as possible to the economic purpose of the invalid provision.<br>
                <hr>
                <h3>14. Supplier - Service Agreement</h3><br>
                14.1 Conclusion of contract with the Supplier <br>
                14.1.1 If you select and purchase an Activity on the ET Platform, you conclude a contract directly with the Supplier. When concluding the contract, we act as the commercial agent of the Supplier. <br>
                14.1.2 After checking the availability of the Activity, you add the respective Activity to the shopping cart by clicking the button "Add to cart". After clicking the button "Checkout", you will be asked for further mandatory information, in particular the payment method, which must be completed.<br>
                14.1.3 By clicking the button "Pay now" at the end of the ordering process, you submit a binding offer to conclude a Service Agreement with the Supplier that will provide the Activity. You are bound to the offer for two working days. After receipt of the offer, we will send you an automatic order confirmation on behalf of the Supplier. This order confirmation does not constitute an acceptance of the offer.<br>
                14.1.4  The Suppliers may provide their own terms and conditions in their respective listings on the ET Platform ("Supplier T&Cs"). Please read these Supplier T&Cs carefully, because they may contain important information for you, e.g. regarding cancellation options or conditions. Nothing in the Supplier T&Cs shall affect your relationship with us, or our legal rights. In the event of a conflict between a provision of the Supplier T&Cs and a provision in Section 9 of the ET GTC, the provision that is more beneficial to you shall govern the relationship between you and the Supplier.<br>
                14.1.5 We accept the offer in the name and on behalf of the Supplier once you receive a booking confirmation issued in the name and on behalf of the Supplier and, if applicable, have access to a voucher or ticket (either a mobile voucher or a downloadable PDF voucher/ticket) and a payment confirmation. We reserve the right to accept or reject contract offers at our sole discretion.<br>
                14.1.6 The contract between you and the Supplier is not set out in a separate contract text. The content of the contract results from the ordered product (i.e. the description of the Activity selected by you), applicable provisions in Section 15 of these ET GTC, and - if applicable - the Supplier T&Cs.<br>
                14.1.7 You must immediately check the order confirmation to ensure that all data has been entered correctly.<br>
                14.2 Prices <br>
                14.2.1 In most cases, Posted Prices quoted are inclusive of all taxes and fees.  However, it is possible that additional local taxes or fees are levied locally.  If additional taxes or fees will be levied locally, this will be disclosed in the description of the Activity.<br>
                14.2.2 The Posted Prices set by the Suppliers may be subject to special provisions, for example, with regard to cancellations and the refund of payments. You must independently check before booking whether the respective Supplier prescribes deviating conditions.<br>
                14.3 Provision of the Activity <br>
                14.3.1 You must arrive on time at the meeting point indicated by the Supplier. Please also take note of the Supplier T&Cs. If you are traveling to the Activity from abroad, you are responsible for the necessary travel documents (passport, visa, etc.) and compliance with health or other requirements.<br>
                14.3.2 The Booking Price does not include insurance of any type. You are responsible for obtaining sufficient insurance coverage. We strongly encourage you to obtain travel insurance, especially if you are booking an Activity that involves outdoor or high-risk activities.  We do not operate tours, employ guides, or set safety standards for Activities. <br>
                14.3.3 Suppliers are independent contractors and not agents or employees of GetYourGuide. We are not liable for the acts, errors, omissions, representations, warranties, breaches, negligence, or misconduct of any Supplier, or for any personal injury, death, property damage, or other damages or expenses resulting therefrom or otherwise arising from any booking or Activity. <br>
                14.3.4 For time and deadline calculations, the time zone of the Supplier shall be decisive.<br>
                14.4 Further rights of the Supplier<br>
                14.4.1 The Supplier may cancel the Activity on the agreed date without observing a cancellation period if weather conditions, official measures, strikes or other external circumstances that are unforeseeable or can only be averted by disproportionate efforts on the part of the Supplier and are beyond the Supplier's control (in particular events of force majeure) make it impossible or significantly impede or endanger the performance of the Activity. In this case, the Booking Price paid for the canceled Activity will be refunded. You may direct any additional compensation request directly to the Supplier according to 15.3.3.<br>
                14.4.2 The Supplier may exclude you from an Activity if (i) you do not meet the requirements for participation specified on the ET Platform, (ii)  you would endanger yourself or others through your participation, or (iii) you disrupt the implementation of the Activity in any way. In these cases, the Booking Price paid for the Activity will not be refunded.<br>
                14.4.3 The Supplier may make immaterial changes to the program of the Activity at any time if this appears necessary due to circumstances arising at short notice. Insignificant program changes also include a change of the starting/meeting point for the Activity, provided that the new meeting point can be reached by the customer from the originally agreed meeting point on foot or by public transport within 15 minutes. A change of the start/meeting point is possible up to 24 hours before the start of the booked Activity and will be communicated to you by email or displayed via the ET Platform.<br>
                <hr>
                <h3>15. Final provisions</h3><br>
                15.1 For the purpose of fulfilling the contract and exercising rights due to us under these ET GTC, we may use other EgyTours companies and third parties as vicarious agents.<br>
                15.2 We may amend or adjust these ET GTC in the future, e.g. to take into account changes in the law, market changes ,or regulatory gaps. We will then inform you of this in good time and in an appropriate manner. If you object, we or you can terminate your ET Account or your access to the ET Platform with immediate effect.<br>
                15.3 All notices and other declarations transmitted within the framework of these ET GTC must be made in writing (e.g. by email).<br>
                15.4 The provisions of the United Nations Convention on Contracts for the International Sale of Goods shall not apply to these ET GTC or any purchase made pursuant thereto.<br>
                15 The contract between you and us is formed and entered into in Cairo, Egypt.<br>
                15.6 In these ET GTC, (i) “including” means “including but not limited to,” (ii) general words shall not be given a restrictive meaning by reason of the fact that they are preceded by words indicating a particular class of acts, matters or things, and (iii) words suggesting the singular include the plural, and vice versa. Captions and section headings used in these ET GTC are for convenience only and shall not be used in construing the ET GTC.<br>
                <hr>
                
                
            </p>

        </div>

    </div>

    <%- include("partials/footer.ejs") %>

</body>

</html>