.first{
    display: flex;
    gap:20px;
    padding-left:20px;
    padding-right:10px;
    margin-bottom:2%;
}
.btn,#btn{
    padding:20px;
    background-color: rgb(222, 221, 214);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    width:300px;
}
.btn img{
    border-radius: 5px ;
}
.btn:hover{
    background-color: rgb(194, 189, 176);
}
.btn img:hover{
    transform:scale(1.05);
}
.head{
    margin-left:2%;
    color:rgb(54, 36, 27);
}
.rating i
{
    color:rgb(238, 203, 5);
}

.pagination{
    display:flex;
}
.link{
    width:20px;
    height:20px;
}
.pagination button{
    color:black;
    float:left;
    padding:2px;
    text-decoration:none;
    border:none;
    background:transparent;
    width:10px;
    height:40px;
}
.pagination p.active
{
    background-color:#ccc;
    color:white;
}

.pagination p:hover:not(.active)
{
    background-color:#ccc;
}
.link{
    text-decoration:none;
    font-size:18px;
}
#form{
    background-color:transparent;
            border:none;
}
.c .pagination
{
    margin-left:44%;
}
#num
{
    margin-bottom:-20px;
    font-size:20px;
    text-decoration:underline;
    margin-left:46%;
}
