
.addimg{
    display: none;
}

#images label:hover{
    background-color:black;
    color:white;
}
#lab{
    cursor: pointer;
    margin: 0;
} 

#upload{
    color:rgb(54, 36, 27);
    font-size: 20px;
    font-weight: bold;
    margin-left: 24%;
    margin-top: 5%;
}
#images{
    border: 2px solid gray;
    height: 50px;
    width: 250px;
}
.add{
    cursor: pointer;
    margin-top: 15%;
    height: 30px;
}
.i{
    display: none;
}
.item{
    display: flex;
    gap:5px;
}
.plus{
    font-size: 20px;
}
.items{
    display: block;
}
#buttons{
    position: relative;
    top:2%;
    margin-left: 7%;
}
#buttons button{
    border-radius: 17px;
    background-color:rgb(54, 36, 27); 
    color: white;
    font-weight: bold;
    width:120px;
    cursor: pointer;
}
