#buttons {
    position: relative;
    margin-left: 7%;
    margin-top: 2%;
}

#hotel,#form{
    background-color:transparent;
    border:none;
}
#buttons button {
    border-radius: 17px;
    background-color: rgb(54, 36, 27);
    color: white;
    font-weight: bold;
    width: 120px;
    height: 35px;
    cursor: pointer;
}

.plus {
    border-radius: 10px;
    background-color: rgb(54, 36, 27);
    color: white;
    font-weight: bold;
    width: 40px;
    height: 25px;
    cursor: pointer;

}

textarea {
    height: 303x;
}

.dropbtn {
    background-color: rgb(54, 36, 27);
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(88, 71, 62);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
}

.dropdown-content h5 {
    margin: 5px;
}

.dropdown-content h5:hover {
    cursor: pointer;
}

.show {
    display: block;
}

.error-message {
    color: red
}