body{
    background-color:rgb(222, 221, 214) ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}



.signin, .signup {
    display: none;
    position: fixed;
    width: 400px;
    left: 46%;
    margin-left: -150px;
    height: 515px;
    top: 25%;
    margin-top: -100px;
    z-index: 20;
    border-radius: 90px;
    padding:10px;
}
.signup{
    height: 630px;
    top:20%;
}
#signin:after, #signup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -2;
}
#signin:before, #signup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    border-radius: 10px;
    z-index: -1;
}




form{
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding:10px;
}
form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.error-message{
    height:15px;
    color:red;
    font-size: 13px;
    float: right;
}

.subutton {
    background-color: rgb(54, 36, 27);
    color: white;
    padding: 14px 20px;
    margin-left:20%;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 10px;
}
.divclose2{
    float:left;
}
.close{
    background-color: rgb(54, 36, 27);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 10px;
}
.container label{
    color:rgb(54, 36, 27);
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.signuptitle h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.message{
    color: #9e9e9e;
    font-size: 15px;
    text-align: center;
}















#myHeader{
    margin-top: 0;
    width: 100%;
    height:70px;
    background-color: rgb(54, 36, 27);
    transition: 0.5s;
    color:white;
    display: flex;
    
}
#myHeader button{
    cursor: pointer;
}
#myHeader a:hover{
    color:rgb(177, 165, 109);
}
.sibutton{
    flex:5%
}
.headicons {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.topnav{
    flex:60%;
    margin-top:10px;
}

#myHeader img{
    width:60px;
}
.headicons a {
    float:right;
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-top:2.5%;
    margin-left:20px;
    position: relative;
    right:40px;
}
.topnav input{
    border-radius: 10px;
    border: none;
    position: absolute;
    right:10px;
    margin-top:55px;
    font-size: 17px;
    width:300px;
    height:25px;
}
.topnav #searchbar
{
    float: right;
    display: block;
    color: grey;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top:-4%;
    position: relative;
    right: 200px;
    margin-right:10%;
    margin-left:25%;
}
.topnav button:hover{
    background-color: rgb(177, 165, 109);;
    cursor: pointer;
    color:#36241b;
}
.topnav button{
    float:right;
    position: relative;
    width: 80px;
    height:30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(62, 49, 36);
    font-weight: bold;
    right:20px;
    top:10px;
}
.logoHead{
    flex:34%;
    margin-top:10px;
    position: relative;
    left:15px;
}
.buttons{
    flex:31%;
    margin-top:5px;
    margin-left:170px;

}
.buttons button{
    border-radius: 8px;
    color:white;
    width:100px;
    height:60px;
    margin:0;
    margin-right:35px;
    font-size: 20px;
    border:none;
    background-color: transparent;
    text-align: center;
  }
.buttons button:hover{
    color:rgb(177, 165, 109);
}
.topnav a:hover {
    color:rgb(177, 165, 109);
    background-color: transparent;
}













footer{
    position:relative;
    bottom:0%;
    left: 0%;
    right:0%;
    background-color: #36241b;
    height: 250px;
    display: block;
}
.info{
    display:flex;
    color:white;
    justify-content: center;
}
.info a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.info ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    
}
.col{
    margin:1% 5% 1% 5%;
}
.titles{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}
.lia{
    text-decoration:none;
    font-size: 12px;
}
.bottom{
    width:100%;
    display: flex;
    justify-content: center;
}
.botright{
    flex:37%;
}
.botleft{
    flex:63%;
    padding-top:20px;
    text-align: right;
}
.ficons i{
    color:white;
    margin-right:3%;
    margin-top:2%;
    font-size: 20px;
}
.copyright{
    display: flex;
}


#tmail::-webkit-input-placeholder{
    color:#a78c4c;
}
#tmail{
    border:3px solid #a78c4c;
    padding:10px;
    background-color: #36241b;
    color:#a78c4c;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:20px;
    width:350px;
}
#subscribe{
    padding:10px;
    border:0;
    color: white;
    text-shadow:15px ;
    font-size: 17px;
    background-color:#a78c4c;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:20px;
    position:relative;
    bottom:0px;
    right:55px;
    top:1px;
    height:42px;
    width:160px;
    cursor: pointer;
}
#subscribe:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown {
    position: relative;
    display: inline-block;
    height:60px;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    right:30px;
    margin-top: 50px;
    background-color: #f9f9f9;
    height: 50px;
    width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
  
  }
  
  #dropdown-content a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    width: 70px;
    margin: 5px;
    height: 8px;
  }
  
  #dropdown-content a:hover {background-color: #f1f1f1;}
    
  .dropdown:hover .dropbtn {
      background-color: rgb(214, 53, 17);
      color: white;
      cursor: pointer;
  }
  
  


.admin{
    width: 90px;
    position: absolute;
    left:70%;
    top:1.7%;
    height: 30px;
}
.admin a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.admin a:hover{
    background-color: transparent;
    color: rgb(214, 53, 17);
}