#myUL li,#myInput{
    width:500px;
}
#sBar{
    margin-left: 0%;
}
#sIcon{
    position:absolute;
    left:22%;
    top:24%;
}
#c{
    display:none;
}
.right{
    display:flex;
}
#buttons{
    position: relative;
    top:3%;
}
img :hover{
cursor: pointer;
}

li{
    margin:10px
}