
.addimg{
    display: none;
}

#images label:hover{
    background-color:black;
    color:white;
}
#lab{
    cursor: pointer;
    margin: 0;
} 

#upload{
    color:rgb(54, 36, 27);
    font-size: 20px;
    font-weight: bold;
    margin-left: 24%;
    margin-top: 5%;
}
#images{
    border: 2px solid gray;
    height: 50px;
    width: 250px;
}
.add{
    cursor: pointer;
    margin-top: 15%;
    height: 30px;
}
.i{
    display: none;
}
.item{
    display: flex;
    gap:5px;
}
.plus{
    font-size: 20px;
}
.items{
    display: block;
}
#buttons{
    position: relative;
    margin-left: 7%;
    margin-top:2%;
}
#buttons button{
    border-radius: 17px;
    background-color:rgb(54, 36, 27); 
    color: white;
    font-weight: bold;
    width:120px;
    height:35px;
    cursor: pointer;
}



textarea{
    height:303x;
}
.dropbtn {
    background-color: rgb(54, 36, 27);
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(88, 71, 62);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
  }
  .dropdown-content h5{
    margin: 5px;
  }
  .dropdown-content h5:hover{
    cursor: pointer;
  }
  .show {display: block;}