
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}
.bgVisit{
    background-image: url("bgImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:100%;
}

.slogan h2{
    text-align: center; 
    color:rgb(54, 36, 27); 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: 60px;
    text-shadow: 5px 10px 10px rgb(96, 90, 85,0.8);
}

.buttons{
    position: absolute;
    top:40%;
    left:35%;
    display: flex;
    flex-direction: row;
    
}
.buttons button{
  border-radius: 8px;
  border:none;
  width:200px;
  height:60px;
  font-size: 25px;
  font-weight: bold;
  margin-right:90px;
  background-color: rgb(214, 53, 17);
  color:rgb(255, 255, 255);
  text-align: center;
}
.buttons button:hover, a:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color:rgb(214, 53, 17);
    
}



.why-choose-us{
    height:270px;
    background-color:rgba(158, 152, 141, 0.577);
    padding:10px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;

}
.cardtitle{
    font-size: 20px;
}
.all{
    width:80%;
    left:10%;
    position:relative;
    display: flex;
    gap: 0 16px;
}
.first{
    padding:20px;
    margin-top:3%;
}
.first img{
    background-color:white; 
    border-radius: 10px; 
    padding:3px
}
#icons2
{
    width:64px; 
    height:64px;
}


@media screen and (max-width: 1020px)
{
    .bgVisit{
        height:550px;
    }
    .first{
        width:50px;
        height:30px;
    }
    .why-choose-us{
    margin-left:-13%;
    display:flex;
    }
    #icons,#icons2{
        width:100%;
        height:160%;
    }
    #ben
    {
        font-size:15px;
    }
    #desc{
       display:none;
    }
    .allimages
    {
        margin-top:-30%;
    }

}
